@import url('https://fonts.googleapis.com/css?family=Outfit&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  font-weight: 100;
}

body { 
  background: #EDF2F7
}

.not-found {
  text-align: center;
  line-height: 2;
  margin: 5rem auto;
}
.link-404{
  color: #4979ff;
  text-decoration: underline;
}
.not-found > p {
  margin-top: 5rem;
  font-size: 1.3rem;
}