.navbar{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  width: 55rem;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .navbar {
    width: 35rem;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    width: 85%;
  }
}

.linkHome {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
.listNav{
  display: flex;
  align-items: center;
  
}    
.listNav h4{
  margin-left: 1rem;
  font-weight: 200;
}
.searchBar {
  font-size: 1rem;
  color: white;
  width: 100%;
  height: 2rem;
  background: #8697b8;
  border: none;
  outline: none;
  padding: 0.1rem 1rem;
  border-radius: 5px;
  margin-left: 1rem;
}

.searchBar::placeholder {
  color: white;
  opacity: 0.7;
}